.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #43164d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center-box {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
body {
    background-color: rgb(76, 16, 133);
}

h1 {
    color: #fdfdfd;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    max-width: 400px;
    display: grid;
  }

  .input-description {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    max-width: 400px;
    display: grid;
    height: 150px;
  }

  li {
    padding: 12px 20px;
    margin: 8px 0;
    background-color: wheat;
    max-width: 400px;
  }
