.App {
  background-color: #251129;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  margin-bottom: 28px;
  background-color: inherit;
  min-width: 320px;
  min-height: 338px;
  border: 1px solid white;
  border-radius: 1px;
}

